{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {% if editMode %}
        <h1>Modification d'un article</h1>
    {% else %}
        <h1>Creation d'un article</h1>
    {% endif %}

    {% if app.user %}
        {{ form_start(formArticle)}}

        {#{{ form_widget(formArticle) }}#}
        {#{{ form_error(formArticle.Title) }}#}
        {{ form_row(formArticle.title, {'attr':{'placeholder': "Titre de l'article"}}) }}
        {{ form_row(formArticle.category) }}
        {{ form_row(formArticle.content, {'attr':{'placeholder': "Contenu de l'image"}}) }}
        {{ form_row(formArticle.image, {'attr':{'placeholder': "URL de l'image"}}) }}

        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter l'article
            {% endif %}
        </button>

        {{ form_end(formArticle) }}
    {% else %}
        <br/><p>Vous ne pouvez pas ajouter d'article si vous n'êtes pas connecté</p>
        <a href="{{path('security_login')}}" class="btn btn-primary">
            Connexion !
        </a>
    {% endif %}
{% endblock %}